APP_IMAGE_TAG={{ app_image_tag }}
FRONTEND_PORT=3001
ML_SERVICE_URL={{ vault_secret_response.json.data.data.ml_service_url }}
BACKEND_SHARED_SECRET={{ vault_secret_response.json.data.data.backend_shared_secret }}
